
.botonesPrompt{
    margin-right: 15%;
    margin-top: -13%;
}

.containerMsn{
    padding-top: 30%;        
}

.fondoPrompts{    
    background-image: url("../img/fondo.png");
    background-size: 100% 100%;    
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

/**************************************************************************************/


/*****************************************************************************
    cambiar premios   */

#inputCode{
    text-align: center;
    margin-top: 65px;
    width: 91%;
    border-style: none;
    background-color: transparent;
}


.divPuntosPremio{  
    font-size: 14px;  
    color: white;
    display: inline-block;
    position: relative;
    float: right;    
    width: 22%;
    height: 33px;
    margin-right: 2.8%;   
    margin-top: 4px;
    background-color: transparent;
}

.imgPremio{
    margin-top: 10px;
}

.puntosPremio{
    margin-top: 12px;
}

.premio{
    background-image: url("../img/cuadroPremios.png");
    background-size: 100% 100%;   
    color: black;
    font-size: 150%;
    font-weight: 800;
    margin-left: 5%;
    margin-top: 10px;
    background-color: transparent;
    width: 90%;
    height: 120px;
}

#divPuntosTendero{  
    font-size: 16px;  
    color: white;
    display: inline-block;
    position: relative;
    float: right;    
    width: 70px;
    height: 70px;
    margin-right: 5px;   
    margin-top: 5px;
    background-color: #1b75bc;
    border-radius: 50px;    
    animation: animationPts 2s infinite;
}

@keyframes animationPts {
    0% { transform: scale(1.0); }
    50% { transform: scale(0.8); }
    100% { transform: scale(1.0); }
}

#btnsCode{
    padding-top: 20px;
    margin-left: -4px;
}


#designChangeQR{
    background-image: url("../img/msnQR.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    display: block;
    width: 300px;
    height: 280px;
    margin-top: 15%;
    background-color: #333333;    
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.9); 
    display: none;
}


#containerPts{
    float: right;
    margin-right: 10px;
    margin-top: -13%;
}

#puntosTendero{
    color: white; 
    margin-top: -40px;
    margin-right: 15px;
    font-size: 170%;
}

#bodyPremios{
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3); 
    font-family: 'Montserrat', sans-serif; 
}

/********************************************
      configuracion                              */
#btnSave{
    border-radius: 100px;
}

#titleSettings{
    width: 100%;
    margin-bottom: 5%;
}

#bodySettings{
    background-image: url("../img/Fondo_Configuración.gif");
    background-position: center center;
    background-repeat: no-repeat;    
    background-attachment: initial;   
    background-size: 50px 50px;
    background-color: #33a3ff;
    font-family: 'Josefin Sans';
}


/************************************************************************************/
/*          cambiar productos                 */

/*
#titleChangeProducts{
    margin-top: 3%;
    width: 100%;
}
#titleCode{
    font-size: 16px;
    padding-top: 0px;
}
#designGetCode{
    background-image: url("../img/imgClaveRepartidor.png");
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    display: block;
    width: 70%;
    height: 170px;
    margin-top: 35%;
    background-color: #333333;    
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.9);   
}
#getCodeRepartidor{
    background-color: ;
    margin-top: -15%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
#pInfoCanje{
    font-size: 18px; 
    text-align: justify;
}
*/

#btnAcept{    
    margin-right: 5%;
}

#btnCancel{
    margin-left: 5%;
}

#ExchangeCode{
    text-align: center;
    width: 90%;    
    height: 5%;
    position: absolute;
    margin-top: 12%;   
    font-weight: 700;
    color: Navy;
    font-size: 130%;   
    background-color: transparent;
    border-style: none; 
    display: none;
}

#divExchangeCode{
    width: 90%;
    margin-left: 5%;
    margin-top: 0%;
}

#bodyChangeProduct{
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3); 
    font-family: 'Montserrat', sans-serif; 
}

/************************************************************************************/
/*          mis canjes                  */
/*

#titleMisCanjes{
    width: 100%;
}
*/

#thHeadCantidad{
    border-right-style: solid; 
    border-right-color: black;
    border-bottom-style: solid; 
    border-bottom-color: black;
}

#thHeadProductos{
    text-align: center;    
    border-bottom-style: solid; 
    border-bottom-color: black;
}
#divChangeProducts{
    margin-top: 5%;
}

#bChangeProducts{
    width: 50%;    
}

.tdCantidad{
    border-right-style: solid;
    border-right-color: black;
    border-bottom-style: solid; 
    border-bottom-color: black;
    width: 20%;    
    text-align: center;
}

.tdProduct{
    text-align: center;
    border-bottom-style: solid; 
    border-bottom-color: black;
}

#tableProduct{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

#bodyMisCanjes{
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3); 
    font-family: 'Montserrat', sans-serif;  
}

/*************************************************************************/
/*      Menú                */
/*
.botonesMenu{ 
    width: 60%;    
    height: auto;
    margin-top: 5%;
    display: block;   
}

#titleMenu{
    width: 100%;
    margin-top: 10%;
    margin-bottom: -5%;
}

#divButtonsModal{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fondoModal{   
    background-color: #feda33;
    font-family: 'Josefin Sans';
    border-radius: 20px;
    border: 5px solid #fbad19;
}
*/

#messageQR{
    width: 90%;
    margin-top: 5%; 
    font-size: 120%;  
    text-align: center; 
}

#footerMenu{    
    width: 100%;
    border-top: 1px solid #cccccc;
    bottom: 10px;
    font-size: 100%;
    position: absolute;
}

#msnFooterMenu{
    color: #cccccc;    
    font-weight: 200;
}

#divScanQR{
    width: 100%;
}

#containerMenu{
    margin-top: 1%;
}

#containerTitleMenu{
    width: 100%;
    margin-top: 3%;
}

#bodyMenu{   
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3); 
    font-family: 'Montserrat', sans-serif; 
}

/*******************************************************************************/
/*    Register      */


/*
.infoInput{
    margin-top: 20px;
    font-size: 18px;
    width: 80%;
    background-color: transparent;
    border-color: DodgerBlue;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#imgReturn{
    margin-top: 10px;
    margin-left: 10px;
}
#btnAceptRegister{    
    width: 40%;    
}
#titleRegister{
    width: 100%;  
    margin-bottom: 5%; 
}
*/


#ulStates{
    overflow-y: scroll; 
    height: 200px;
}

#RCP{
    float: right; 
    width: 30%; 
    margin-right: 12%;
    border-radius: 8px;
}

#btnSide{
    margin-top: 40%;
}

@-webkit-keyframes minimize{
    from{transform: scale(1.0);}
    to{transform: scale(0.0);}
}

@-webkit-keyframes maximize{    
    from{transform: scale(0.0);}
    to{transform: scale(1.0);}
}


#btnReturnLogin{
    margin-top: 10px;
    margin-left: 10px;
}

.containerInfo{ 
    background: linear-gradient(to bottom right, #ffffff, #d6d8d9);
    position: absolute;
    width: 85%;
    height: 250px;
    margin-top: 20%;
    animation-duration: 2s;
    margin-left: 7.5%;
    display: none; 
}

#infoSlider{
     width: 100%;
     height: 250px;  
}

#bodyRegister{
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3);
    font-family: 'Montserrat', sans-serif; 
}

/***********************************************************************************/
/*  Scanner ;*/
/*
#register1{
    margin-top: 10%;
}

#registerSlider{
    position: absolute;
    left: 5%;
    top: 10%;
    background-color: PaleTurquoise;
    width: 90%;
    height: 50%;
}
*/

#imgQR_Premio{
    position: absolute;
    margin-top: 28.5%;
    animation: readQR 5s infinite;
}

@-webkit-keyframes readQR {
    0% {left: 15%; opacity: 0.0;}
    10%{opacity: 1.0;}
    23%{content: url("../img/qr.png");}
    28%{content: url("../img/cambioPremio.png");}
    34%{transform: scale(1.0);margin-top: 28.5%;}
    45%{transform: scale(0.8);margin-top: 27%;}
    60%{content: url("../img/papas.png");}
    97%{opacity: 1.0; transform: scale(0.8); margin-top: 27%;}   
    100% {left: 73%; opacity: 0.0;transform: scale(1.0);content: url("../img/papas.png");}
    
}

#lineQR{   
    background-color: Chartreuse;
    height: 4px;
    margin-top: -96%;
    animation: upToDown 4s infinite;    
}

@-webkit-keyframes upToDown{
    0% {margin-top: -96%;}
    90% {margin-top: -2%;}
    100% {margin-top: -96%;}
}

#marcoQR{  
    box-shadow: 0px 0px 0px 1000px rgba(0,0,0,0.6);   
    padding-top: 43%;
    width: 45%;
    margin-top: 30%;  
}

#divScan{
    margin-top: -5%;
}

#imgCelular{
    position: relative;
}

#imgQR_Repartidor{
    position: absolute;
    margin-top: 29%;
    animation: readQRRepartidor 5s infinite;
}

@-webkit-keyframes readQRRepartidor {
    0% {left: 15%; opacity: 0.0;}
    10%{opacity: 1.0;}
    25%{content: url("../img/qr.png");}
    26%{transform: rotate(0deg);}
    27%{transform: rotate(180deg);}
    28%{transform: rotate(360deg);}
    29%{transform: rotate(0deg);}
    30%{content: url("../img/repartidor.png");}
    90%{opacity: 1.0;}   
    100% {left: 73%; opacity: 0.0;content: url("../img/repartidor.png");}
    
}

#guideImg{
    width: 100%;  
}

#btnReturn{
    width: 15%;
}

#barReturn{
    float: left;
    width: 100%;
}

/********************************************************************************/
/* index login */

#labelRegister{
    font-size: 80%;
    font-weight: 300;
    color: #ffffff;
}

#labelForgetDataUser{
    font-size: 90%;
    font-weight: 300;
    color: #ffffff;
}

.inputsLogin{
    background-color: transparent;
    border-style: none;
    border-bottom: 1px solid #999999;    
    width: 90%;    
    font-size: 130%;
    font-weight: 500;
}

.labelGetUser{
    float: left;
    margin-left: 5%;
    font-size: 130%;
    font-weight: 200;
}

#backgroundGetDataUser{
    background: linear-gradient(to bottom right, #ffffff, #d6d8d9);
    width: 80%;
}

#divGetDataUser{    
    width: 100%;
    margin-top: 10%;
}

#titleLogin{
    width: 100%;
    margin-top: 10%;
}

#bodyLogin{    
    background: linear-gradient(rgb(83, 84, 85), rgb(3, 3, 3));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 100% 100%;
    background-color: rgb(3, 3, 3); 
    font-family: 'Montserrat', sans-serif;          
}

/*************************************************************************/
