/*      prompt      */

.buttonsPrompt{
    padding-top: 5%;
    padding-bottom: 4%;    
    display: none;
}

#bodyPrompt{
    margin-left: 5%;
    padding-top: 2%;
}

#titlePrompr{
    font-size: 120%;
    font-weight: 600;
    padding-top: 4%;
}

.boxPrompt{
    background-color: rgb(51,51,51);
    position: fixed;  
    margin-top: 40%;    
    width: 80%;
    border-radius: 5px;
    margin-left: 10%;
    color: white;
    font-size: 120%;
    transform: scale(0.0);
    animation-name: none;
    animation-duration: 0.5s
}
@keyframes showBoxPrompt{
    from{transform: scale(0.0);}
    to{transform: scale(1.0);}
}
@keyframes hideBoxPrompt{
    from{transform: scale(1.0);}
    to{transform: scale(0.0);}
}

.backgroundPrompt{
    background: black;
    opacity: 1.0;
    background-size: contain;
    position: fixed;
    width: 150%;    
    margin-top: -50%;
    margin-left: -25%;
    color: red;
    height: 0%;
    animation-name: none;
    animation-duration: 0.5s
}
@keyframes showBackground{
    from{height: 0%;}
    to{height: 150%;}

}
@keyframes hideBackground{
    from{height: 150%;}
    to{height: 0%;}

}